* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

/* -----------NAV STYLE 
               -------------------*/

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-tittle {
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-option-tittle {
    margin-top: 50px;
}

.nav-option {
    padding-left: 45px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* Banner area style */

.banner-area {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.banner-tittle {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 100px;
}

.banner-description {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

.banner-img {
    margin-top: 50px;
    text-align: center;
}

.banner-main-img {
    width: 75%;
    height: 500px;
    margin-bottom: 45px;
}

/* ------------------
                   quick list area style
                  -----------------------------*/
main {
    margin-left: 240px;
}

.quick-list-area {
    display: flex;
    margin-top: 85px;
    align-items: center;
    /* margin-right: 240px; */
}

.quick-list-img-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.quick-list-common-img {
    width: 240px;
    height: 240px;
}

.quick-list-text {
    margin-left: 73px;
}

.quick-list-img {
    border-radius: 8px;
}

.quick-list-text {}

.quick-list-text-tittle {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}

.quick-list-text-tittle1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.quick-list-text-tittle2 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-list-text-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* ------------------
             feature area star
               --------------------------- */



.feature-are {
    margin-top: 160px;
    display: flex;
    margin-bottom: 160px;
    margin-right: 100px;
    /* margin-left: -140px; */
}

.hr-line-class {
    border-left: 6px solid #FF900E;
    height: 100px;
}

.feature-tittle {
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-part-tools {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-part-tool-tittle {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-part-tools-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: #727272;
}

.feature-img-area {
    margin-left: 60px;
}

.feature-img-area img {
    width: 700px;
    height: 982px;
}

.feature-button {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: -75px;
    margin-left: -30px;
}

.feature-description-btn {
    font-weight: 500;
    font-size: 25px;
}

/*----------------- 
            Summary details area 
            -----------------------*/
.details-service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 180px;
    border-radius: 20px;

}

.summary-details-tittle {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;

}

.summary-details-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.details-are {
    width: 150px;
    height: 150px;
    background: white;
    text-align: center;
    border: 2px solid white;
    padding: 45px 35px;
}

.details-are img {
    width: 45.22px;
    height: 45.22px;
}

.details-are:hover {
    border: 2px solid #FF900E;
    transition-property: border;
    transition-duration: 5s;
    border-radius: 15px;
}

.details-are-number {
    margin-top: 9px;
    margin-bottom: 10px;
}

/* 
Sponsor area start style */

.sponsor-tittle {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 24px;
}

.sponsor-description {
    margin-bottom: 24px;
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}

.sponsor-logo-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sponsor-logo-area img {
    height: 30px;
    width: 132px;
    margin-bottom: 130px;
}

.subscribe-area {
    margin-bottom: 160px;
}

input[type=email],
select {
    width: 75%;
    padding: 40px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 75%;
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #FF900E;
}

/* Footer style */
footer {
    margin-left: 240px;
    margin-bottom: 216px;
}


.footer-area {
    margin-right: 150px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    background: #FFF4E7;
    padding: 50px 25px;
    border-radius: 10px;
    text-align: center;

}




/* -------------- 
                Responsive area
                  ------------------- */

/* Mobile responsive */
@media screen and (max-width: 576px) {

    /* nav bar res */
    .nav-section {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .nav-option-tittle {
        display: flex;
        flex-direction: column;


    }

    /* banner res */
    .banner-tittle {
        font-weight: 700;
        font-size: 35px;

    }

    .banner-main-img {
        width: 75%;
        height: 300px;
    }

    main {
        margin: 0 0px;
    }

    /* quick list area style mob*/

    .quick-list-img-area {
        grid-template-columns: 1fr;
    }

    .quick-list-area {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quick-list-text {
        margin-left: 10px;
    }

    /* feature res mob */
    .feature-are {
        flex-direction: column;
        margin-left: 20px;
    }

    .feature-description {

        margin-top: 170px;
    }

    .feature-img-area img {
        width: 100%;
        height: 582px;
    }

    /* summary details area mob res */

    .summary-details {
        margin-left: 30px;
    }

    .details-service {
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }

    /* sponsor mob res */

    .sponsor-area {
        margin-left: 15px;
    }

    .sponsor-logo-area {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 25px;
    }

    /* Subscribe mob res */
    .subscribe-area {
        margin-left: 30px;
    }

    footer {
        margin-left: 5px;
    }

    .footer-area {
        margin-right: 0px;
    }


}

/* Tablet responsive */
@media screen and (max-width: 992px) and (min-width: 577px) {
    .nav-section {
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .nav-option-tittle {
        display: flex;
        flex-direction: column;


    }

    main {
        margin: 0 0;
    }

    /* quick list tab responsive*/
    .quick-list-img-area {
        grid-template-columns: 1fr;
    }

    .quick-list-area {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quick-list-common-img {
        width: 340px;
        height: 340px;
    }

    .quick-list-text {
        margin-left: 10px;
        margin-top: 20px;
    }

    /* feature res tab */
    .feature-are {
        flex-direction: column;
        margin-left: 75px;
    }

    .feature-img-area img {
        width: 100%;
        height: 582px;
    }

    /* summary details area mob res */
    .details-service {
        grid-template-columns: repeat(2, 1fr);
    }

    .summary-details {
        margin-left: 30px;
    }

    /* sponsor tab res */
    .sponsor-area {
        margin-left: 30px;
    }

    .sponsor-logo-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Subscribe tab res */
    .subscribe-area {
        margin-left: 30px;
    }

    /* Footer section */

    footer {
        margin-left: 20px;
    }



}